*.o
*.Plo
*.lo
*.so
*.la
*.lai
*.m4
RPMS/*
autom4te.cache/*
Makefile.in
Makefile
libtool
ltmain.sh
missing
stamp-h1
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
documentation.list
install-sh

